.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.searchInput {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px; /* Ширина поля ввода */
  margin-right: 10px;
}

.searchButton {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Цвет кнопки */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}
